.userSearchBox_container{
    height: 36px;
    width: 100%;
    min-width: 125px;
    max-width: 268px;
    position: relative;
    z-index: 2;
}

.userSearchBox_inputContainer{
    height: 100%;
    width: 100%;
}

.userSearchBox_inputContainer > svg{
    position: absolute;
}

.userSearchBox_input{
    background: #efefef;
    font-size: 16px;
    padding: 3px 16px;
    border-radius: 8px;
    line-height: 18px;
    height: 100%;
    width: 100%;
    font-weight: 300;
    color: #262626;
}

.userSearchBox_input:focus-visible{
    outline: none;
}

.userSearchBox_dropdown{
    position: absolute;
    width: 375px;
    max-width: 375px;
    top: 50px;
    left: 50%;
    max-height: 500px;
    transform: translate(-50%, 0);
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
    z-index: 2;
    border-radius: 6px;
    overflow: hidden;
}

.userSearchBox_dropdownExit{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.userSearchBox_dropdownSquareContainer{
    width: 18px;
    height: 9px;
    overflow: hidden;
    position: absolute;
    padding-top: 2px;
    left: calc(50% - 9px);
    top: 42px;
    display: none;
    align-items: flex-start;
    justify-content: center;
}

.userSearchBox_dropdownSquare{
    width: 14px;
    height: 14px;
    background-color: rgb(255 255 255);
    border: 1px solid white;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
    transform: rotate(45deg);
    z-index: 4;
}

.userSearchBox_dropdownProfiles{
    background-color: white;
    width: 100%;
    padding: 12px 16px 5px;
    max-height: 310px;
    overflow-y: auto;
}

.userSearchBox_dropdownProfilesTitle{
    font-weight: 600;
    color: #262626;
    line-height: 24px;
    font-size: 16px;
    margin: 4px 0 11px;
}

.userSearchBox_dropdownProfile{
    display: flex;
    align-items: center;
    padding: 6.5px 0;
    background: none;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
}

.userSearchBox_dropdownProfile:hover{
    background-color: #fafafa;
}

@media (max-width: 540px) {
    .userSearchBox_dropdown{
        position: fixed;
        width: 90vw;
        top: 60px;
    }
}

@media (max-width: 650px){
    .userSearchBox_container{
        max-width: none;
    }
}